.profile-avatar {
  height: 40px;  /* keeps it within navbar */
  width: auto;
  object-fit: contain;
  display: block;
  margin-top: 5px;
}
.profile-image {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  object-fit: cover;
}