.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-link img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.quantity-controls1 {
  display: flex;
  align-items: center;
  background-color: #0e351f;
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
  height: 35px;
  margin: 0 auto; /* horizontally center */
  gap: 0.01rem; /* space between buttons and span */
}



.qty-btn1 {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 13px;
}

.qty-btn1:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.quantity-controls1 span {
  padding: 0 1rem;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  min-width: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0rem 0.9rem;
}

